<form action="/createNew" method="post">
    <div class="mb-3">
    <label for="projectname" class="form-label">Project Name</label>
    <input type="text" class="form-control" id="project-name" name="projectName">
    <div class="mb-3">
    <label for="projectdesc" class="form-label">Project Description</label>
    <textarea name="projectDescription" class="form-control" id="project-description" cols="100" rows="10"></textarea>
    <div class="mb-3">
    <label for="projectauthor" class="form-label">Project Author</label>
    <input type="text" class="form-control" id="project-author" name="projectAuthor">
    <button type="submit" class="btn btn-outline-success m-4">
    <a aria aria-current="page"   class="text-decoration-none"
      >Create</a
    >
  </button>
</form>
