<p class="sub-titile">Project List:</p>
<div id="project-main-container">
  <div id="project-list" class="border-black bg-info p-4 rounded">
    <p id="project-name">test</p>
    <p id="project-description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id sapiente
      labore iste dicta pariatur nam iusto animi vero quas autem similique, illo
      obcaecati unde. Veritatis perferendis exercitationem beatae ea nam.
    </p>
    <p id="project-author">Ravisankar</p>
  </div>
  <button type="button" class="btn btn-outline-success m-4">
    <a aria aria-current="page" href="/createNew" class="text-decoration-none"
      >Create New Project</a
    >
  </button>
</div>
