<p class="sub-titile">Project List:</p>
<div id="project-main-container">
  <%content.forEach(e=>{ %>
  <div id="project-list" class="border-black bg-info p-4 rounded m-4">
    <p id="project-name"><b>Project Title: </b><%=e.projectName%></p>
    <p id="project-description" class="text-break">
      <b>Project Description: </b><%=e.projectDescription%>
    </p>
    <p id="project-author"><b>Author: </b><%=e.projectAuthor%></p>
    <a href="/project/<%=e._id%>"
      ><button type="submit" class="btn btn-dark">View Project</button></a
    >
  </div>
  <%})%>

  <button type="button" class="btn btn-outline-success m-4">
    <a aria aria-current="page" href="/createNew" class="text-decoration-none"
      >Create New Project</a
    >
  </button>
</div>
